<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.umich.pollinationid">
    <!-- Below are the permissions required for the app to run. It requests permissions though. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/theicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/theicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PollinationID">
        <activity
            android:name=".PolinationProjectActivity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="edu.umich.pollinationid"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/providerfile" />
        </provider>

        <activity
            android:name=".ContactsActivity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TermsConditionsActivity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegestrationActivity"
            android:label="Sign Up"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
             />
        <activity
            android:name=".ExploreActivity"
            android:label="Explore More"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".PhotoActivity"
            android:label="Photo ID"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".PhotoPossiblePollinators"
            android:label="Possible Pollinators"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PhotoActivity" />
        </activity>
        <activity
            android:name=".PossiblePhotoPollinatorActivity"
            android:label="Possible Pollinators"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PhotoPossiblePollinators" />
        </activity>
        <activity
            android:name=".ConfirmPollinatorPhotoandDK"
            android:label="Confirm Pollinator"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PossiblePhotoPollinatorActivity" />
        </activity>
        <activity
            android:name=".PollinatorIDKeyActivity"
            android:label="Classifying Pollinator"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".IdFragment.NumberOfWingsActivity"
            android:label="Classifying Pollinator"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PollinatorIDKeyActivity" />
        </activity>
        <activity
            android:name=".IdFragment.ShapeOfWingsActivity"
            android:label="Classifying Pollinator"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IdFragment.NumberOfWingsActivity" />
        </activity>
        <activity
            android:name=".IdFragment.BodySegmentsActivity"
            android:label="Classifying Pollinator"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IdFragment.NumberOfWingsActivity" />
        </activity>
        <activity
            android:name=".IdFragment.HairActivity"
            android:label="Classifying Pollinator"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IdFragment.ShapeOfWingsActivity" />
        </activity>
        <activity
            android:name=".IdFragment.AlmostNoHairColorActivity"
            android:label="Classifying Pollinator"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IdFragment.HairActivity" />
        </activity>
        <activity
            android:name=".IdFragment.HairUnderneathColorActivity"
            android:label="Classifying Pollinator"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IdFragment.HairActivity" />
        </activity>
        <activity
            android:name=".IdFragment.HairOnSidesColorActivity"
            android:label="Classifying Pollinator"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IdFragment.HairActivity" />
        </activity>
        <activity
            android:name=".IdFragment.FullHairColorActivity"
            android:label="Classifying Pollinator"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IdFragment.HairActivity" />
        </activity>

        <activity
            android:name=".IdFragment.DKPossiblePollinatorActivity"
            android:label="Possible Pollinators"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IdFragment.NumberOfWingsActivity" />
        </activity>


    </application>

</manifest>